/* .App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html{
  height: 100%;
  background-image: linear-gradient(darkblue, rgb(109, 76, 122));
  display: flex;
  justify-content: center;


}
.App-header{
  color: rgb(172, 137, 72);
  display: flex;
  justify-content: center;
  font-family: Comic Sans MS;
}
.App-body-search{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: Comic Sans MS;

}

.App-body-list{
  border: dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Comic Sans MS;
}
.item-list{
  
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-image: linear-gradient(to bottom, rgb(201, 128, 170), rgb(176, 176, 221));
  border-radius: 20px;
  border: none;
  align-items: center;
  justify-content: space-between;
  display: flex;
  
  font-family: Comic Sans MS;

  
}
.item {
  text-shadow: 2px 2px 10px #000000;
  color: white;
  
}
.item::first-letter{
  text-transform: uppercase;
}
.item-list-container{
  max-width: 300px;
  word-break: keep-all;
  word-wrap: break-word;
}


.item-list:hover{
  background-image: linear-gradient(to right, rgb(226, 229, 241), rgb(230, 99, 143));
  transition: background-size 400ms, color .3s ease-in-out;
  font-size: 110% ;
}

.item-edit{

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-image: linear-gradient(to bottom, rgb(121, 39, 87), rgb(63, 54, 28));
  border-radius: 20px;
  border: none;
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: rgb(224, 199, 199);
  font-weight: bold;
  font-family: Comic Sans MS;

}


.item-matched{

  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  background-image: linear-gradient(to bottom, rgb(141, 221, 94), rgb(212, 188, 114));
  border-radius: 20px;
  border: none;
  align-items: center;
  justify-content: space-between;
  display: flex;
  color: rgb(224, 199, 199);
  font-weight: bold;
  font-family: Comic Sans MS;

}

.item-row{
  
  justify-content: right;


}
.input-field{
  text-transform: capitalize;
  margin-top: 5px;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: Comic Sans MS;
}

.btn-add{
  border-radius: 10px;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
  background-color: cornflowerblue;
  color: azure;
  font-family: Comic Sans MS;
}

h1 {
  background:
    linear-gradient(
      to right,
      rgb(124, 1, 87),
      rgb(148, 32, 123)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
  );
  background-size: 100% 3px, 0% 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms, color .3s ease-in-out;


}

h1:hover {
  background-size: 0 3px, 100% 3px;
  color: white;
}